.login-dark {
  max-height: auto;
  max-height: 100%;
}

.h6, h6 {
  min-width: 55px;
}

.h6, h6 {
  min-width: 55px;
}

.h6, h6 {
  min-width: 55px;
}

form {
  margin-top: -100px;
}

form {
  margin-top: -100px;
}

img {
  width: 100%;
}

