<!DOCTYPE html>
<html lang="en" ng-app='app'>
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="script.js"></script>
</head>
<body>
<ui-source>
    <div>
        <label>Name:</label>
        <input type='text' ng-model='yourName' placeholder='Enter a name here'>
        <button ng-click="hello(this)">sdsdsdsd</button>
        <hr>
        <h1>Hello {{yourName}}</h1>
    </div>
</ui-source>
</body>
</html>
