<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sendicate &bull;</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Clean.css">
    <link rel="stylesheet" href="assets/css/gradientanimation.css">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
    <link rel="stylesheet" href="assets/css/Header-Dark.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="core.js"></script>
</head>

<body style="background: linear-gradient(135deg, #172a74, #21a9af);background-color: #184e8e;padding-bottom: 80px;font-family: 'Source Sans Pro', sans-serif;">
<div>
    <div class="header-blue" style="padding-bottom: 0px;">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
            <div class="container-fluid"><a class="navbar-brand" href="/">Sendicate</a>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                     id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/main">Workbench</a></li>
                    </ul>
                    <form class="form-inline mr-auto" target="_self">
                        <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input
                                class="form-control search-field" type="search" id="search-field" name="search"></div>
                    </form>
                    <div class="border rounded" id="Autorized" style="border-radius: 30px !important;"><a
                            class="btn btn-light action-button" role="button" id="logout" href="/logout"
                            style="border-radius: 0px;border-color: transparent;">Log Out</a><img class="rounded-circle"
                                                                                                  style="width: 40px;height: 40px;"
                                                                                                  th:src="${usr.getPictureUrl()}"/>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="container border rounded shadow-sm"
     style="border-radius: 20px !important;background-color: #eaeaea;margin-top: 40px;padding-top: 30px;padding-bottom: 30px;">
    <div class="row">
        <div class="col-lg-4 offset-lg-1"><img class="shadow" th:src="${usr.getPictureUrl()}"
                                               style="box-shadow: 2px 2px 20px 0px rgba(117,117,117,1) !important;border-radius: 20px;max-width: 250px;max-height: 250px;margin-top: 48px; margin-bottom: 30px">
        </div>
        <div class="col-xl-5 offset-xl-1">
            <h1 style="margin-left: 50px;" th:text="${usr.getUsername()+' • '+type}"></h1>
            <form style="margin-top: 0;" th:action="${'/api/users/'+type+'/'+usr.getId()}" method="post">
                <div class="form-group" style="border-radius: 10px !important;"><input
                        name="username"
                        class="form-control profile-input" type="text"
                        th:placeholder="${usr.getUsername() + '| Username'}"></div>
                <div class="form-group profile-input" style="border-radius: 10px !important;"><input
                        class="form-control profile-input" type="email" data-toggle="tooltip"
                        name="emailaddr"
                        th:placeholder="${usr.getEmail() + '| Email'}"
                        title="Split your addresses by space"
                        required=""></div>
                <div class="form-group"><input class="form-control profile-input" type="tel" data-toggle="tooltip"

                                               name="phone"
                                               th:placeholder="${usr.getPhone() + '| Phone'}"
                                               title="Split your addresses by space"></div>
                <div class="form-group th" th:if="${BCUSTOMER==true}"><input class="form-control profile-input"
                                                                             type="text"
                                                                             name="adddress"
                                                                             th:placeholder="${ address + ' | Address'} ">
                </div>
                <div class="form-group" th:if="${BCUSTOMER==true}"><input class="form-control profile-input" type="url"
                                                                          name="addressWeb"
                                                                          th:placeholder="${ addressWeb + '| Web-site address'}">
                </div>
                <div class="form-group" th:if="${BCUSTOMER==true}"><textarea class="form-control profile-input"
                                                                             style="min-height: 40px;"
                                                                             name="description"
                                                                             th:placeholder="${ desc + '| Description'}"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success d-block" type="submit" style="margin: auto;">Save</button>
                </div>
            </form>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body border rounded border-danger">
                    <h4 class="text-danger card-title">Danger Zone</h4>
                    <h6 class="text-warning card-subtitle mb-2">Make sure, You properly read everything</h6>
                    <div>
                        <form method="post" style="margin-top: 30px" th:action="${'/api/users/'+type+'/'+usr.getId()+'/delete/'+usr.getToken()}">
                            <button id="deleteMe" class="btn btn-danger"  type="submit">Delete Account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/bs-init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script src="assets/js/theme.js"></script>
</body>

</html>